{
  "root": true,
  "extends": "@myparcel-eslint/eslint-config-prettier-typescript",
  "overrides": [
    {
      "files": [
        "*.spec.*",
        "**/__tests__/**/*"
      ],
      "rules": {
        "@typescript-eslint/no-magic-numbers": "off",
        "max-classes-per-file": "off",
        "max-lines-per-function": "off",
        "no-magic-numbers": "off"
      }
    },
    {
      "files": [
        "**/__tests__/types/**/*"
      ],
      "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "class-methods-use-this": "off"
      }
    }
  ]
}
