{
  "root": true,
  "extends": "@myparcel-eslint/eslint-config-prettier-typescript",
  "overrides": [
    {
      "files": [
        "*.spec.*",
        "**/__TESTS__/**/*"
      ],
      "rules": {
        "@typescript-eslint/no-magic-numbers": "off",
        "max-classes-per-file": "off",
        "max-lines-per-function": "off",
        "no-magic-numbers": "off"
      }
    }
  ]
}
